/*
0px			- 		600px:			mobile 		--> Mobile First Approach 
											   	    (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px		-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and >		1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >    1800 +			: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4.8rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(4.8rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotateAndMoveInRight {
  0% {
    opacity: 0;
    transform: translateY(-12rem) translateX(15rem) scale(1) rotateY(45deg);
  }
  25% {
    opacity: 0;
  }
  65% {
    transform: scale(0.4) rotateY(140deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) translateX(0rem) scale(1) rotateY(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 75%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	13px / 16px *100 = 81.25% */
    font-size: 81.25%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	15px / 16px *100 = 93.75% */
    font-size: 93.75%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 112.5%;
  }
}

body {
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
}
@media (min-width: 75em) {
  body {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: rgb(30, 30, 30);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}

.heading-2 {
  color: rgb(1, 114, 96);
  font-size: clamp(2rem, 7vw, 5rem);
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 10%;
  text-shadow: 0.5px 0.5px 1px rgb(103, 226, 109);
  text-align: start;
  margin: 11px 0;
}

.navbar {
  color: rgb(235, 235, 235);
}

.header {
  color: rgb(235, 235, 235);
}
.header__heading-h1 {
  text-align: center;
}
.header__heading-h1--primary {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 4px;
}
.header__heading-h1--secondary {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.header__heading-h1--tertiary {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.header__paragraph {
  color: rgb(180, 180, 180);
  font-size: 1.2rem;
  text-align: center;
}
.header__btn {
  color: rgb(235, 235, 235);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.main {
  color: rgb(235, 235, 235);
}
.testimonial {
  color: rgb(19, 170, 95);
}
.testimonial__heading-4 {
  font-size: clamp(1.4rem, 5vw, 3rem);
  font-weight: 900;
}
.testimonial__paragraph {
  font-size: clamp(1.2rem, 5vw, 2rem);
}
@media (min-width: 56.25em) {
  .testimonial__heading-4 {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  }
  .testimonial__paragraph {
    font-size: clamp(0.5rem, 2vw, 1rem);
  }
}

.faq {
  color: rgb(3, 46, 68);
}
.faq__heading-4 {
  font-size: clamp(1.4rem, 5vw, 3rem);
  font-weight: 900;
  text-align: center;
  border: 1px solid rgb(3, 46, 68);
  padding: 5px 8px;
  margin-bottom: 8px;
}
.faq__paragraph {
  font-size: clamp(1.2rem, 4vw, 2rem);
}
.faq__paragraph:nth-of-type(1) {
  font-size: clamp(1.3rem, 4vw, 2.1rem);
  font-weight: 700;
}
@media (min-width: 56.25em) {
  .faq__heading-4 {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  }
  .faq__paragraph {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
  }
  .faq__paragraph:nth-of-type(1) {
    font-size: clamp(0.6rem, 1.5vw, 1.1rem);
    font-weight: 700;
  }
}

.footer {
  color: rgb(161, 161, 161);
  text-align: center;
}
.footer__heading-2 {
  color: rgb(180, 180, 180);
  font-size: 3.5rem;
}
.footer__heading-3 {
  color: rgb(180, 180, 180);
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 3px;
}
.footer li {
  font-size: 1.8rem;
  font-weight: 400;
}

.address__heading-4 {
  color: rgb(180, 180, 180);
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-large {
  margin-bottom: 5rem;
}

.u-margin-bottom-xtralarge {
  margin-bottom: 7rem;
}

.u-margin-top-xtrasmall {
  margin-top: 0.5rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 3rem;
}

.u-margin-top-large {
  margin-top: 5rem;
}

.u-margin-top-xtralarge {
  margin-top: 7rem;
}

.subsection-wrapper-header {
  padding: 4rem 5rem 0rem 5rem;
}

.subsection-wrapper-about {
  padding: 0 5rem 5rem 5rem;
}

.subsection-wrapper-contact {
  padding: 0 5rem 5rem 5rem;
}

.address {
  width: 25rem;
  margin: 0 auto;
}
.address__sections {
  margin-bottom: calc(15px + 0.5rem);
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  outline: none;
  padding: 0.5em 1.5em;
  backface-visibility: hidden;
  transition: box-shadow 0.2s, transform 0.2s, border 0.2s;
}

.faq {
  background-color: rgb(19, 170, 95);
  width: 100%;
  padding: calc(15px + 5vw) clamp(15px + 3vw, 8vw, 15px + 8vw);
  margin-bottom: calc(11px + 0.4rem);
}
@media (min-width: 56.25em) {
  .faq {
    padding: calc(11px + 1vw) clamp(15px, 2vw, 15px + 8vw);
  }
}

.testimonial {
  background-color: rgb(3, 46, 68);
  width: 100%;
  padding: calc(15px + 5vw) clamp(15px + 3vw, 8vw, 15px + 8vw);
  margin-bottom: calc(11px + 0.4rem);
}
.testimonial__img {
  float: left;
  border: 2px solid rgb(19, 170, 95);
  width: min(33%, 11rem);
  margin-top: 0.7rem;
  margin-right: 1.5rem;
}
@media (min-width: 37.5em) {
  .testimonial__img {
    margin-top: 1.1rem;
  }
}
@media (min-width: 56.25em) {
  .testimonial {
    padding: calc(11px + 1vw) clamp(15px, 2vw, 15px + 8vw);
  }
  .testimonial__img {
    margin-top: 0.6rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 75em) {
  .testimonial__img {
    width: min(33%, 6rem);
  }
}

@media (min-width: 56.25em) {
  .container {
    display: grid;
    grid-template-columns: repeat(11, 1fr) minmax(20rem, 30%);
  }
}
@media (min-width: 75em) {
  .container {
    grid-template-columns: minmax(15rem, 15%) repeat(10, 1fr) minmax(25rem, 30%);
  }
}
@media (min-width: 112.5em) {
  .container {
    grid-template-columns: minmax(15rem, 15%) repeat(10, 1fr) 30rem;
  }
}

.navbar {
  background-color: rgb(30, 30, 30);
}

.header {
  height: 95vh;
}

.main {
  padding: 10rem 1rem;
}

.sidebar {
  padding: 1rem;
}

.footer {
  padding: 1rem;
}

@media (min-width: 56.25em) {
  .navbar {
    grid-column: 1/-1;
  }
  .header {
    height: 95vh;
    grid-column: 1/span 11;
    grid-row: 2/span 1;
  }
  .main {
    grid-column: 1/span 11;
    grid-row: 3/span 1;
  }
  .sidebar {
    grid-column: 12/-1;
    grid-row: 2/span 3;
  }
  .footer {
    grid-column: 1/-1;
  }
}
@media (min-width: 75em) {
  .navbar {
    grid-column: 1/span 1;
    grid-row: 1/span 3;
  }
  .header {
    grid-column: 2/span 10;
  }
  .main {
    grid-column: 2/span 10;
  }
  .sidebar {
    grid-row: 1/span 3;
  }
  .footer {
    grid-row: 4/span 1;
  }
}
@media (min-width: 112.5em) {
  .header {
    grid-column: 2/span 5;
    grid-row: 2/span 1;
  }
  .main {
    grid-column: 7/span 5;
    grid-row: 2/span 1;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(3, 46, 68) 50%, rgb(30, 30, 30) 80%);
}
.header__content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to bottom, transparent 20%, rgba(20, 20, 20, 0.85) 65%, rgb(30, 30, 30) 85%), url("/img/attorney01.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: min(100%, 70rem);
  padding: 1rem 5rem 3rem;
}
.header__heading-h1--primary {
  display: block;
}
.header__heading-h1--secondary {
  display: block;
}
.header__heading-h1--tertiary {
  display: block;
}
.header__heading-h1--tertiary:not(:last-child) {
  margin-right: 1rem;
}
.header__heading-h1, .header__paragraph {
  margin-bottom: calc(15px + 1rem);
}
.header__blacklozenge {
  margin: 0 1rem;
}
.header__btn {
  background-color: transparent;
  border: 2px solid rgb(235, 235, 235);
}

.main {
  background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(3, 46, 68) 10%, rgb(3, 46, 68) 90%, rgb(30, 30, 30));
}
.main > *:not(:last-child) {
  margin-bottom: calc(15px + 3rem);
}
.main__article {
  width: 100%;
}
.main__img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.footer {
  background-color: rgb(30, 30, 30);
}
.footer__container > * {
  margin-bottom: calc(15px + 2rem);
}
@media (min-width: 56.25em) {
  .footer__container > * {
    padding: 0 calc(15px + 5rem);
  }
}
.footer__container {
  padding: 1rem;
}
.footer__heading {
  margin-top: calc(15px + 3rem);
}
@media (min-width: 56.25em) {
  .footer__footer-info {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }
}
.footer__footer-info > * {
  margin-bottom: calc(15px + 2rem);
}
.footer__heading-3 {
  margin-bottom: 5px;
}
.footer__address {
  font-style: normal;
}
@media (min-width: 37.5em) {
  .footer__contact-info {
    flex: 1 0 22rem;
  }
  .footer__quick-links {
    flex: 1 0 22rem;
  }
  .footer__social-media {
    flex: 1 0 22rem;
  }
}

/*# sourceMappingURL=styles.css.map */
