// primary colors
$color-malachite: rgb(103, 226, 109);  
$color-gogreen: rgb(19, 170, 95);      
$color-rainforest: rgb(1, 114, 96); 
$color-midnightgreen: rgb(6, 80, 100); 
$color-prussianblue: rgb(0, 56, 85); 
$color-mudbrown: rgb(117, 76, 10); 

// secondary colors
$color-white: rgb(235, 235, 235);
$color-grey-light: rgb(180, 180, 180);
$color-grey-dark: rgb(130, 130, 130);
$color-dark: rgb(30, 30, 30);

// padding & margins
$x-small: .5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;
$x-large: 5rem;

// border-radius
$x-small: 2px;
$small: 5px;
$medium: 8px;
$large: 11px;
$x-large: 15px;
$round: 50%;

// box-shadow
$box-shadow-light: 0 2rem 5rem rgba(0, 0, 0, .1);
$box-shadow-medium: 0 2rem 5rem rgba(0, 0, 0, .5);
$box-shadow-dark: 0 2rem 5rem rgba(0, 0, 0, .8);

