.faq {
    
    background-color: $color-gogreen;
    width: 100%;
    padding:  calc($x-large + 5vw) clamp(calc($x-large + 3vw), 8vw, calc($x-large + 8vw));
    margin-bottom: calc($large + .4rem);  

    @include respond(tab-land) {
        
        padding:  calc($large + 1vw) clamp(calc($x-large ), 2vw, calc($x-large + 8vw));
    }
}