/////////////////////////////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////////////////////////////

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	background: linear-gradient(to bottom, $color-prussianblue 50%, $color-dark 80%);
	
	&__content-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		background: linear-gradient(to bottom, transparent 20%, $color-darkshadow 65%, $color-dark 85%), url("/img/attorney01.png");
		background-size: contain;
		background-position:center;
		background-repeat: no-repeat;
		height: min(100%, 70rem);
		padding: 1rem 5rem 3rem;

	}

	&__heading-h1 {
		
		&--primary {
			display: block;
		}

		&--secondary {
			display: block;
		}

		&--tertiary {
			display: block;

			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&__heading-h1, &__paragraph {
			margin-bottom: calc($x-large + 1rem);
	}

	&__blacklozenge {
		margin: 0 1rem;
	}
		
	&__btn {
		background-color: transparent;
		border: 2px solid $color-white;
	}	
}

/////////////////////////////////////////////////////////////////////
// FOOTER
/////////////////////////////////////////////////////////////////////

.footer {	
	background-color: $color-mudbrown;

	&__container > * {
		margin-bottom: calc($x-large + 2rem);

		@include respond(tab-land) {
			padding: 0 calc($x-large + 5rem);
		}
	}

	&__container {
		padding: 1rem;
	}

	&__footer-info {
	
		@include respond(tab-land) {
			display: flex;
			justify-content: space-evenly;
			
			padding: 1rem;
		}
	}

	&__footer-info > * {
		margin-bottom: calc($x-large + 1rem);
	}

	@include respond(tab-port) {
		&__contact-info {
			flex: 1 0 22rem;
		}
		&__quick-links {
			flex: 1 0 22rem;
		}
		&__social-media {
			flex: 1 0 22rem;
		}
	}

	&__heading {
		margin-top: calc($x-large + 3rem);
	}

	h3 {
		margin-bottom: $small;
	}
}

